@page
@using AlbumsManager.Configurations.FolderAlbum
@model IndexModel
@{
    ViewData["Title"] = "Directories with images";
    var isSkipped = Model.Manager.Configuration.CreatorConfiguration.SkipLoadingImages;
}

<h1>@ViewData["Title"]</h1>
@if (Model.Directories is not null && Model.Directories.Any())
{
    foreach (var item in Model.Directories)
    {
        <p>
            <a href="~/Details/@item.Name" class="text-decoration-none">
                <span class="display-4">@item.Name</span> 
                @if (!isSkipped)
                {
                    <span class="badge bg-black">@(item.Items?.Count() ?? 0) </span>
                }

            </a>
        </p>
    }
}
